/* footer styles */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover{
    color: #28a745;
}
.footer .social > * {
  margin-right: 30px;
}
